.App {
  text-align: center;
  background: url(https://i.postimg.cc/4xJhqT01/fondo.jpg);
  background-attachment: fixed;
  overflow: scroll;
  background-repeat: no-repeat;
  background-size:cover;


  margin-top: 0%;
  padding: 0%;

  height: 100vh;
  align-items: center;

  box-sizing: border-box;
}

.row {
  
  display: flex;
  justify-content: center;
}
