.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.titulo {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 630;
  color:#F2F2F1;
  font-size: 25px;
  text-shadow:#0C070B 2px 3px 3px;
}

.iconito {
  filter:drop-shadow(12px 10px 7px #0C070B)
}